body {
    margin: 0;
}

.stickyHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 999;
    text-align: center;
    margin-top: 3rem;
    padding: 2rem;
}

.stickyHeader h1 {
    /* font-size: 40px; */
    margin-bottom: 0.5rem;
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.stickyHeader p {
    max-width: 43.75rem;
    margin: 0 auto;
    line-height: 1.5;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}

.horizontalScroll {
    margin-top: 8.125rem; /* Justér alt efter headerens højde */
}

.horizontalScroll {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.scrollContent {
    display: flex;
    height: 100%;
    width: 300vw; /* 3 paneler á 100vw */
}

.panel {
    flex: 0 0 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
}

.panel img {
    width: 40%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.panel .text {
    max-width: 40%;
    padding-left: 2rem; /* Justér dette tal efter behov */
}

.panel h2 {
    /* font-size: 32px; */
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    color: #000000;
    margin-bottom: 1rem;
}

.panel p {
    /* font-size: 22px; */
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    color: #000000;
    max-width: 43.75rem;
    margin-bottom: 1rem;
}

.ctaButton {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    background-color: #9FC7AA;
    color: #000000;
    border: 0;
    border-radius: 0rem 1rem;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.ctaButton:hover {
    background-color: #86b194;
}

.bgBeige {
    background-color: #EFE7DA;
}

.bgLBrown {
    background-color: #DAD3C8;
}

.bgLBeige {
    background-color: #F6F5EC;
}

.case1 .text {
    align-self: flex-start;
    margin-top: 10rem;
}

.case2 .text {
    align-self: flex-start;
    margin-top: 11.25rem;
}

.case3 .text {
    align-self: flex-start;
    margin-top: 9.375rem;
}

.case3 p {
    max-width: 85%;
}

.case2 img {
    width: 40%;
}

.case3 img {
    margin-top: 1.25rem;
}