.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .description {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .formContainer {
    background-color: #EFE7DA;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .formTitle {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input,
  .textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .textarea {
    height: 100px;
  }
  
  .button {
    background-color: #DAD3C8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #B29079;
  }