.KontaktForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem 5rem 2.5rem 5rem;
}

.textForm {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.textForm h2 {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.lilleForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #EFE7DA;
  border-radius: 10px;
  width: 400px;
  padding: 1.5rem;
}

.indhold .textArea{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif
}

.sendKnap {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.sendKnap button {
  background-color: #9FC7AA;
  border: 0;
  padding: 0.5rem 2rem;
  border-radius: 15px 0px 15px 0px;
}